@font-face {
  font-family: 'Nunito-Light';
  src: url('../fonts/Nunito-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito-Regular';
  src: url('../fonts/Nunito-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito-Medium';
  src: url('../fonts/Nunito-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito-SemiBold';
  src: url('../fonts/Nunito-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito-Bold';
  src: url('../fonts/Nunito-Bold.ttf') format('truetype');
}

body {
  font-family: 'Nunito-Regular', Arial, sans-serif;
  background-color: #ffffff;
  color: #000000;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
